@import url('./__close/popup__close.css');
@import url('./__container/popup__container.css');
@import url('./__form/popup__form.css');
@import url('./__save/popup__save.css');
@import url('./__title/popup__title.css');
@import url('./__text/popup__text.css');

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

@media screen and (max-width: 360px) {
    .popup {
        padding: 0 30px;
    }
}