.header__logo {
    background: url('../../../images/logo.svg') no-repeat;
    width: 143px;
    height: 34px;
    background-size: contain;
}

@media screen and (max-width: 425px) {
    .header__logo {
        width: 104px;
        height: 24px;
    }
}