.profile__container {
	display: flex;
	max-width: fit-content;
	width: 100%;
	align-items: center;
}

@media screen and (max-width: 760px) {
	.profile__container {
		margin: 14px 0 0;
		justify-content: center;
	}
}