.profile__info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 30px;
    min-width: 200px;
    width: 100%;
    align-content: center;
}

@media screen and (max-width: 760px) {
    .profile__info {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
}