.photos__title {
    max-width: 215px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: #000000;
    margin: 24px 0 24px 21px;
}